.h-90{
    height: 100vh;
}.form-group {
    margin-bottom: 18px;
}.response-msg {
    position: fixed;
    top: 10%;
    width: 100%;
    left: 0%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}.alert {
    position: fixed;
    top: 6%;
    margin: auto;
    min-width: 165px;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    background: #161616;
    color: #f9f9f9;
}.bg-light{
    background-image: linear-gradient(to right, #013243 0%, #013243  51%, #013243  100%);
}.text-color{
    color: #013243;
}.btn-default{
    background-color: #013243;
    border-color: #013243;
    color:#fff;
}.btn-default:hover{
    background-color: #013243;
    border-color: #013243;
    color:#fff;
}.card-body {
    padding: 25px 28px;
}.form-control {
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 25px;
}button.btn {
    border-radius: 25px;
}.input-icon{
    width: 30px;
    background: #ddd;
    padding-left: 12px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(13,110,253,.25);
}.input-icon {
    width: 45px;
    background: #ddd;
    padding: 0px 12px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.card-title {
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    margin-bottom: 30px !important;
    /* padding: 15px 10px; */
}

.card-title-2 {
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    margin-bottom: 15px !important;
    /* padding: 15px 10px; */
}

span.small {
    font-size: 14px!important;
    color: #013243;
    font-weight: 500;
    text-transform: capitalize;
}